@use '../../foundation/base' as *;
.c-image-about {
  width: 50%;
  margin: 0 auto; 
  padding-bottom: 15px;
  object-fit: cover;
  border-radius: 50%;
  @include tab {
    width: 40%;
  }
  @include pc {
    width: 35%;
  }
}