@use '../../foundation/base' as *;
.c-image-work {
  margin: 0 auto; 
  object-fit: cover;
  transition: .6s cubic-bezier(0.33,1,0.68,1);
}
.c-image-work:hover {
  transform: scale(0.9);
}
.c-image-work--pc {
  object-fit: cover;
}