@use '../../foundation/base' as *;
.c-main-title {
 font-size: 2.5rem;
 @include tab {
  font-size: 3.2rem;
 }
 @include pc {
  font-size: 4rem;
 }
}

.c-main-title__text {
  font-size: 1.4rem;
  @include tab {
    font-size: 1.6rem;
  }
  @include pc {
    font-size: 2rem;
  }
}