@use '../../foundation/base' as *;
.c-main-title {
 font-size: 2.5rem;
 @include tab {
  font-size: 3.2rem;
 }
 @include pc {
  font-size: 4rem;
 }
}

.c-main-title__text {
  font-size: 1.4rem;
  overflow: hidden;
  white-space: nowrap;
  animation: flowing-anim 6s;
  @include tab {
    font-size: 1.6rem;
  }
  @include pc {
    font-size: 2rem;
  }
}
@keyframes flowing-anim {
  0%{
      width: 0%;
    }
 100%{
      width: 100%;
    }
 }