@use "../../foundation/base" as *;
.u-mb {
  margin-bottom: 30px;
  @include tab {
    margin-bottom: 60px;
  }
}
.u-mb-small {
  margin-bottom: 20px;
}
.u-mb-large {
  margin-bottom: 40px;
}
.u-text-left {
  text-align: left;
}

.u-paper-raise {
  &:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &:hover {
    &:before {
      box-shadow: 0 15px 10px -10px rgba(212, 172, 173, 0.5);
    }
  }
}
