@use '../../foundation/base' as *;
.p-blog-archive {
  padding-bottom: 30px;
  @include tab {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  @include pc {
    grid-template-columns: 1fr 1fr 1fr;
  }
}