@use '../../foundation/base' as *;
.p-blog {
  padding-top: 20px;
  padding-bottom: 20px;
}
.p-blog > p {
  @include tab {
  padding-bottom: 10px;
  }
}

.p-blog__title {
  padding-top: 10px;
  padding-bottom: 5px;
}
.p-blog__title > a {
  display: block;
}
.p-blog__text {
  padding-bottom: 10px;
}
.p-blog__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

// .p-blog__readmore {
//   display: block;
//   width: 100px;
//   height: 50px;
//   margin-left: auto;
// }
// .p-blog__svg {
//   position: absolute;
//   top: 0;
//   left: 0;
// }
// .p-blog__svg rect {
//   fill: none;
//   stroke: #d4acad;
//   stroke-width: 1;
// }
// .p-blog__readmore:hover svg rect {
//   stroke: #d4acad;
// }
// .p-blog__svg rect {
//   stroke-dasharray: 400, 0;
//   -webkit-transition: all 0.8s ease-in-out;
//   -moz-transition: all 0.8s ease-in-out;
//   -ms-transition: all 0.8s ease-in-out;
//   -o-transition: all 0.8s ease-in-out;
// }
// .p-blog__readmore:hover svg rect {
//   stroke-width: 3;
//   // stroke-dasharray: 35, 245;
//   stroke-dasharray: 50, 200;
//   stroke-dashoffset: 75;
//   -webkit-transition: all 0.8s ease-in-out;
//   -moz-transition: all 0.8s ease-in-out;
//   -ms-transition: all 0.8s ease-in-out;
//   -o-transition: all 0.8s ease-in-out;
// }

.p-blog__readmore {
  position: relative;
  display: block;
  padding: 10px;
  width: 100px;
  height: 40px;
  margin-left: auto;
  font-size: 1.4rem;
  background-color: #fff;
  border: 1px solid #d4acad;

  color: #000;
  text-align: center;
  text-decoration: none;
  transform-style: flat;
  transition: all 250ms ease-out;
  
  &:before,
  &:after {
      content: "";
      position: absolute;
      z-index: -2;
      transition: all 250ms ease-out;
  }
}

