@use '../../foundation/base' as *;
.p-global-nav {
  display: block;
  position: fixed;
  width: 70vw;
  top: 0px;
  bottom: 0;
  padding-top: 60px;
  right: -100vw;
  transition: 0.7s;
  background-color: #fff;
  @include tab {
    position: inherit;
    width: inherit;
    padding: 0;
    transition: 0s;
  }
}


.p-global-nav.open {
  right: 0;
  z-index: 10;
  overflow-y: scroll;
}