@use '../../foundation/base' as *;
.p-readmore {
  cursor: pointer;
  //以下はホバー時のアニメーション
  position: relative;
  transition: .6s cubic-bezier(0.33,1,0.68,1);
}
.p-readmore:hover {
  transform: scale(0.9);
}
//ホバー時に画像上に「詳しくみる」を表示させる。
.p-readmore::before,
.p-readmore::after {
  content: "";
  display: block;
  position: absolute;
  width: 250px;
  height: 250px;
  @include tab {
  width: 100%;
  height: 100%;
  }
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: .6s cubic-bezier(0.33, 1, 0.68, 1);
  opacity: 0;
}
.p-readmore::before {
  background:rgba(0,0,0,.5);
  // width: 100%;
  // height: 100%;
}
.p-readmore::after {
  color: #fff;
  content: "詳しく見る";
  font-size: 22px;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.p-readmore:hover::before,
.p-readmore:hover::after {
  opacity: 1;
}
.p-readmore:hover::after {
  letter-spacing: 0.1em;
}