@use '../foundation/base' as *;
.l-mainvisual {
  height: 100vh;
  margin-top: 80px;
  background-image: url(../images/main-visual1.jpg);
  background-size: cover;
}
.l-mainvisual--single {
  margin-top: 80px;
  height: 80px;
  background-image: url(../images/main-visual1.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  width: 100%;
}