@use '../foundation/base' as *;
.js-home.open {
  height: 100%;
  overflow: hidden;
}

//スクロールで表示される。フェードイン用
.js-fade {
  transition: all 1s;
  opacity: 0;
  visibility: hidden;
  transform: translate(0px, 50px);
}

.js-fadein {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
}