@use "../foundation/base" as *;
.js-home.open {
  height: 100%;
  overflow: hidden;
}

//スクロールで表示される。フェードイン用
.js-fade {
  transition: all 2s;
  opacity: 0;
  visibility: hidden;
  transform: translate(0px, 50px);
}

.js-fadein {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
}

//slickのスタリイング
#works {
  .slick-prev:before, .slick-next:before {
  color: $accent-color;
}
.slick-next {
    right: -5px;
    z-index: 100;
  }
  .slick-prev {
    left: -5px;
    z-index: 100;
  }
  .js-inner {
    padding: 5px;
  }
}